/*fondo*/

body {
    margin: 0;
    padding: 0;
    background: url("../imagen/fondo.jpeg") no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    height: 2000px;
}


/*cajita*/

.login-box {
    margin: 0px;
    width: 1000px auto;
    height: 1100px;
    background: rgb(155, 161, 156);
    color: hwb(0 0% 100%);
    top: 720px;
    left: 670px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 3%;
    position: absolute;
    text-align: center;
}

#encabezado {
    margin: 0;
    padding: 0px;
    width: 1410px;
    height: 155px;
    background: rgb(155, 161, 156);
    color: hwb(0 4% 96%);
    top: 70px;
    left: 645px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 0%;
    position: absolute;
    display: inline-block;
    border-radius: 0%;
}


/*logo*/

#encabezado .avatar img {
    width: 150px;
    height: 149px;
    border-radius: 5%;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 0px;
    left: 55px;
}

#encabezado .logo img {
    width: 150px;
    height: 149px;
    border-radius: 5%;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 0px;
    left: 1264px;
}


/*titulo*/

h1 {
    text-align: center;
    top: -10px;
    margin: -10px;
    padding: 0;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
}

.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 60%;
    max-width: 3000px;
    margin: auto;
    top: 100px;
    height: 49px;
    border-radius: 10%;
    margin-top: -10px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    display: block;
    height: 10px;
    padding-top: 1 0px;
    font-size: 18px;
}

.menu li {
    display: inline-block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.menu li a:hover {
    background: #08702e;
}

.menu .in {
    font-size: 28px;
}

.menu li.activa,
#menu li:hover {
    background-color: #08702e;
}

div#contenido {
    border: #080808 1px solid;
    margin: 20px 20px 10px;
    padding: 10px 15px;
    height: 600px;
    background-color: #bdbdbd;
}

h2 {
    color: #161515;
    margin-left: center;
    font-family: 'Oswald', sans-serif;
}

h3 {
    margin-left: 1;
}

div#imgs-contact {
    color: #000000;
    background: rgba(255, 255, 255, 0.628);
    width: 240px;
    height: 380px;
    border: black 1px solid;
    margin-left: center;
}

div#text-info {
    background: rgba(255, 255, 255, 0.839);
    width: 650px;
    margin-left: 245px;
    margin-top: -382px;
    border: #000000 1px solid;
    font-family: 'oswald' sans-serif;
}

div#formulario {
    background: rgba(247, 247, 247, 0.938);
    margin-left: 245px;
    width: 650px;
    margin-top: -20px;
    border: #000000 1px solid;
    text-align: center;
    height: 309px;
    font-family: 'oswald';
}

p {
    font-family: sans-serif;
    font-family: 'Tiro Kannada', serif;
}

div#footer {
    color: #0d0c0c;
    margin-top: 70px;
    border-top: #000 1px solid;
}

div#footer img#piie {
    width: 100px;
    height: 100px;
    border: none;
}

div#boton [type="submit"] {
    background: #09fd63;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

div#boton [type="submit"]:hover {
    background: #10a647;
}

h3 {
    color: #040404;
    font-family: 'Oswald', sans-serif;
    margin-left: center;
}

h4 {
    font-family: 'Oswald', sans-serif;
    margin-left: center;
}

div#pie a,
img {
    width: 40px;
    height: 40px;
}

input#boton {
    background-color: #06f75e;
    border-color: transparent;
    border-radius: 10%;
    border: 1px solid #000000;
}

input#boton:hover {
    background-color: #06f742;
    border-color: transparent;
    border-radius: 10%;
    border: 1px solid #000000;
    width: 55px;
    height: 20px;
}