body {
    background: #90EE90;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box
}
.encabezado{
    display: grid;
    grid-template-columns: 200px 900px;
    align-items: center;
    background-color: #013220;
    border-radius: 20px;
}
.encabezado .titulo{
    display: flex;
    justify-content: center;
    color: white;
}
.encabezado .logo{
    border-radius: 20px ;
}
.agregar-box{
    margin-top: 60px;
    width: 320px;
    height: 500px;
    background: rgb(80, 77, 77);
    color: White;  
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px ;
    border-radius: 20px;
}
.agregar-box label {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.agregar-box input{
    width: 100%;
    margin-bottom: 15px;
}
.agregar-box input[type="text"],
.agregar-box input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.agregar-box input[type="submit"]{
    border: none;
    outline: none;
    height: 45px;
    background: #013220;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.agregar-box input[type="submit"]:hover {
    cursor: pointer;
    background: #34dd50;
    color: white;
}
.agregar-box select {
    border: 1px;
    outline: none;
    height: 25px;
    background: #013220;
    color: rgb(255, 255, 255);
    font-size:  15px;
    border-radius: 30px;
}
.boton-regresar .regresar {
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    height: 40px;
    background: #013504;
    font-size: 18px;
    border-radius: 20px;
}
.boton-regresar .regresar a{
    text-decoration: none;
    color: white;
}
.boton-regresar .regresar:hover{
    cursor: pointer;
    background: #34dd50;
}